$white: #ffffff;
$verylightgrey: #F3F3F3;
$lightgrey: #EAEAEA;
$darkgrey: #AAAAAA;
$black: #000000;

$canary: #F2EF99;

$softblue: #A3C3E0;
$midnightblue: #003366;

$yellowgreen: #adff2f;

$americanrose: #DC143C;