$white: #ffffff;
$lightgrey: #F3F3F3;
$grey: #E3E3E3;
$darkgrey: #AAAAAA;
$black: #000000;

$canary: #F2EF99;

$softblue: #A3C3E0;
$midnightblue: #003366;

$yellowgreen: #adff2f;
$pine: #cccc99;

$americanrose: #DC143C;