/* colors */

$white: #ffffff;
$lightgrey: #F3F3F3;
$grey: #E3E3E3;
$darkgrey: #AAAAAA;
$black: #000000;

$canary: #F2EF99;

$blue-highlight: #E6ECF2;

$softblue: #A3C3E0;
$midnightblue: #003366;

$yellowgreen: #adff2f;

$americanrose: #DC143C;

/* media queries */

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";