<h2>
  About MunchAlerts
</h2>

<div id='content-about'>
  <p>
    MunchAlerts is a fan project created by a San Francisco engineer and foodie. The scraping performed by this site is
    minimal to avoid creating unnecessary load for Munchery.
  </p>

  <p>
    Email addresses are not used for anything beyond sending notification emails, and no personally identifying
    information is collected. This site will never be monetized.
  </p>
</div>

<p id='faq-email'>Comments or concerns can be sent to <%= mail_to 'jade@thezets.com', 'my email' %>.</p>