<h2>
  About MunchAlerts
</h2>

<p>
  MunchAlerts is a fan project
</p>

<p>
  Plate icons designed by Asia Smolonska, available under a
  <%= link_to 'Creative Commons License', 'http://creativecommons.org/licenses/by/3.0/us/' %>.
</p>