<h2>Frequently Asked Questions</h2>

<dl id='content-faq'>
  <dt>When do flash sales usually happen?</dt>
  <dd>Flash sales typically appear after 3pm on weekdays. They seem to be rare on Mondays and common on Fridays.</dd>

  <dt>I got an email, but all of the sale stuff is gone! What gives?</dt>
  <dd>Some flash sale items sell out quickly - others may be available until the end of the day.
   Munchery creates flash sales as a means of selling an item quickly when there's too much stock, and they <strong>do</strong>
  tend to sell quickly.</dd>

  <dt>How can I unsubscribe from email notifications?</dt>
  <dd>Each email contains an unsubscribe link at the bottom.</dd>
</dl>