<h2>
  Frequently Asked Questions
</h2>


<div id='content-faq'>
  <p><strong>Q: When do flash sales usually happen?</strong></p>
  <p><strong>A:</strong> Flash sales typically appear after 3pm. They also seem to rarely occur on Mondays.</p>

  <p><strong>Q: How can I unsubscribe from email notifications?</strong></p>
  <p><strong>A:</strong> Each email contains an unsubscribe link at the bottom.</p>
</div>