<h2>
  Frequently Asked Questions
</h2>


<div id='content-faq'>
  <p><strong>Q: When do flash sales usually happen?</strong></p>
  <p><strong>A:</strong> Flash sales typically appear after 3pm on weekdays. They also seem to rarely occur on Mondays.</p>

  <p><strong>Q: I got an email, but all of the sale stuff is gone! What gives?</strong></p>
  <p><strong>A:</strong> Some flash sale items sell out quickly - others may be available until the end of the day.
   Munchery creates flash sales as a means of selling an item quickly when there's too much stock, and they <strong>do</strong>
  tend to sell quickly.</p>

  <p><strong>Q: How can I unsubscribe from email notifications?</strong></p>
  <p><strong>A:</strong> Each email contains an unsubscribe link at the bottom.</p>
</div>

<p id='email'>Other comments or concerns can be sent to <%= mail_to 'jade@thezets.com', 'my email' %>.</p>