<h2>Today's Flash Sales</h2>

<div id="meals">
  <% @meals.each_with_index do |meal, i| %>
    <% side = i.odd? ? 'left' : 'right' %>
    <%= render 'meal', meal: meal, side: side %>
  <% end %>
</div>