html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: -1px;
}

p, dt, dd {
  font-size: 18px;
}

dt {
  font-weight: 600;
}

.rel {
  position: relative;
}