@import 'libraries/colors';
@import 'compass/css3';
@import 'bootstrap';

/* flash messages */

#flash-messages {

  display: none;

  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
  }

  li {
    padding: 5px;
    border: 1px solid $black;
    font-size: 18px;

    &.error {
      background: $americanrose;
    }

    &.success {
      background: $yellowgreen;
    }
  }
}

/* body layout styling */

html {
  height: 100%;
}

body {
  width: 100%;
  margin: auto;
  height: 100%;
  background: radial-gradient(circle, #E6ECF2, $softblue);
  background-color: $softblue;

  font-family: 'Source Sans Pro', sans-serif;

  a, a:hover {
    text-decoration: none;
  }

  p {
    font-size: 18px;
  }
}

#container {
  position: relative;
  min-height: 100%;
}

/* header */

header {
  background-color: $midnightblue;
  padding-bottom: 25px;
}

nav {
  padding-left: 35px;

  a {
    font-weight: 600;
    font-size: 40px;
    color: $lightgrey;

    &:hover {

      color: $white;

      strong {
        color: $canary;
      }
    }
  }

  strong {
    color: $softblue;
  }
}

#banner {
  height: 270px;
  width: 100%;
  @include background(image-url('pasta.png'));
  background-size: cover;
  @include transition-property(height);
  @include transition-duration(1s);
  position: relative;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;

  @media (max-width: 979px) {
    height: 300px;
    @include background(image-url('dinner.jpg'));
  }

  @media (max-width: 767px) {
    height: 450px;
    @include background(image-url('dinner.jpg'));
  }

  .row {
    margin-top: 50px;
  }
}

.box {
  width: 100%;
  height: 120px;
  margin-top: 50px;
  background-color: rgba(0,0,0,0.65);
  text-align: center;

  form {
    padding-top: 5px;
  }

  #sign-up {
    color: $white;
    font-size: 30px;
    padding-right: 20px;
    vertical-align: bottom;
    display: block;
  }

  label {
    color: $white;
    padding-right: 4px;
  }
}

/* main content */

#main {
  margin: 30px auto -45px;
  padding-bottom: 70px;
  text-align: center;
  min-height: 100%;

  h2 {
    text-align: center;
    font-size: 40px;
  }
}

#main-content {
  background: $white;
  @include border-radius(10px);
  display: inline-block;
  padding: 10px 20px 20px;
  border: 2px solid $darkgrey;
}

/* footer */

footer {
  height: 45px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 0 1px;
  border-top: 2px solid $darkgrey;
  background: $white;
  text-align: right;

  p {
    padding-right: 30px;
  }
}