@import 'libraries/colors';
@import 'compass/css3';

/* sales */

#meals {
  margin: 40px auto 0;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: 24px;
  }

  @media (min-width: 767px) {
    min-width: 500px;
  }

}