@import 'libraries/variables';
@import 'compass/css3';
@import 'libraries/mixins';

/* about, faq */

[id*='content-'] {
  margin: 30px auto 0;

  p, dt, dd {
    text-align: left;
    padding: 10px 0;
  }

  @include media($desktop) {
    width: 950px;
  }
}

#faq-email {
  text-align: center;
  margin-top: 30px;
}