@import 'libraries/colors';
@import 'compass/css3';

/* about, faq */

div[id*='content-'] {
  margin: 60px auto;
  width: 1000px;
  padding: 10px 10px 5px 10px;
  border: 1px dashed $black;

  p {
    padding: 10px 0;
  }

  strong {
    font-weight: 600;
  }
}

#faq-email {
  text-align: center;
  margin-top: 60px;
}