<footer>
  <div class="container rel">
    <a href="https://twitter.com/munchalerts" class="twitter-follow-button" data-size="large" data-show-count="false" data-lang="en">Follow @munchalerts</a>
    <span>
      by <%= link_to '@sailoremo', 'http://www.twitter.com/sailoremo', target: '_blank' %>
      / <%= link_to 'about', 'about' %>
      / <%= link_to 'faq', 'faq' %>
    </span>
  </div>
</footer>