<header>
  <h1>
    <%= link_to root_url do %>
      Munch<strong>Alerts</strong>
    <% end %>
  </h1>
  <%= link_to 'Sign Up  ', new_user_path, id: "manage-url" %>
</header>
<div id='pasta-banner'>
  <div class="box well"></div>
</div>
<div class='separator'></div>